*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(0, 0, 0)

}

body {
    background-image: url(../img/bk2.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5%;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

h1 {

    margin: 20px;
}

.text {
    width: 50%;
    padding: 3%;
    font-size: 1.5rem;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    margin-left: 3%;
}

.parimpar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#impar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#par {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.input .btn {
    padding: 1rem;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 150px;
}

.num {
    
    font-weight: 700;
    margin: 1px;
    width: 150px;
	padding: 13px 10px;
}

#parimpar {
    cursor: pointer;
    width: 50%;
}

/*BREAKPOINT*/

@media (max-width:788px){
    .conteudo{
        flex-wrap: wrap-reverse;
        padding: 5%;
    }

    .text {
        width: 100%;
        margin-top: 5%;
        font-size: 0.9rem;
        text-align: 4%;
        margin-left: 0;
    }

    h3, h1 {
        font-size: 0.9rem;
    }

    .parimpar {
        width: 100%;
    }

    #parimpar {
        width: 30%;
    }
}